[defaults]
# Points to your inventory file automatically
inventory = inventory.ini

# Defines the location of your modular roles
roles_path = roles:./.ansible/roles

# Sets the default remote user for SSH connections
remote_user = adminuser

# Enables verification of the remote server's SSH key
host_key_checking = True

retry_files_enabled  = False

interpreter_python   = auto_silent

timeout              = 30

# Formats the terminal output to be more readable (YAML style)
stdout_callback = ansible.builtin.default

# Optional: Number of parallel processes to use
forks = 10

bin_ansible_callbacks = True

[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s

